* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Dosis', sans-serif;
    line-height: 22px;
}

#hero{
    width: 626px;
    margin: 64px auto;
    text-align: center;
}

h1{
    font-size: 32px;
    font-weight: normal;
    margin: 32px 0 16px 0;
}

h1 span{
    color: #EE24FF;
}

span{
    font-weight: 600;
    color: #828282;
}

p{
    margin: 0 auto;
    width: 540px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    color: #828282;
}

#footer{
    width: 391px;
    border-top: 64px;
    margin: 0 auto;
    text-align: center;
}

.line{
    border: 1px solid #ECEFF2;
    margin-bottom: 16px;
}

a{
    color: #3F3D56;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif; 
}

#footer a + a{
    margin-left: 42px;
}

#wave{
    position: fixed;
    bottom: 0;
    width: 100%;
}
